p{
    color: darkmagenta;
    font-size: medium;
    border: 1px solid greenyellow;
}
.user{
    color: blueviolet;
    font-size: medium;
    border: 2px solid red;
}
.user:hover{
    color: chartreuse;
    font-size: 50px;
}